{% extends 'base.html' %}
{% block content %}

<h1>{{ card.name }}</h1>

<p><strong>Type</strong> {{ card.card_type }}</p>

<p><strong>Created by:</strong> {{ card.created_by.username }}</p>

<p><img src="{{ card.photo_url }}" width="300px" height="500px"></p>

<h2>Edit Item</h2>

<form method="POST">
    {{ form.hidden_tag() }}
    <fieldset>
        
        <legend>Please enter your information:</legend>

        {{ form.name.label }}
        {{ form.name }}
        <ul>
            {% for error in form.name.errors %}
                <li class="error">{{ error }}</li>
            {% endfor %}
        </ul>

        {{ form.card_type.label }}
        {{ form.card_type }}
        <ul>
            {% for error in form.card_type.errors %}
                <li class="error">{{ error }}</li>
            {% endfor %}
        </ul>

        {{ form.photo_url.label }}
        {{ form.photo_url }}
        <ul>
            {% for error in form.photo_url.errors %}
                <li class="error">{{ error }}</li>
            {% endfor %}
        </ul>

        {{ form.decks.label }}
        {{ form.decks }}
        <ul>
            {% for error in form.decks.errors %}
                <li class="error">{{ error }}</li>
            {% endfor %}
        </ul>

        {{ form.submit_button }}

    </fieldset>
</form>

{% endblock %}